# Open-Meteo Weather API 
VITE_WEATHER_API_URL=https://api.open-meteo.com/v1/forecast

# Open-Meteo Geocoding API 
VITE_GEOCODING_API_URL=https://geocoding-api.open-meteo.com/v1/search

# Nominatim Reverse Geocoding API by OpenStreetMap 
VITE_NOMINATIM_API_URL=https://nominatim.openstreetmap.org/reverse
